[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
flask-cors = "*"
python-jose = {version = "*", extras = ["cryptography"]}

[dev-packages]
black = "*"
isort = "*"
pytest = "*"

[requires]
python_version = "3.11"
